Análise espacial de casos: clusterização de regiões do Brasil em termos de porcentagem de casos de dengue em cada região. Neste caso, cada cluster é um conjunto de estados (ou quem sabe cidades) e este cluster é caracterizado por estados/cidades com porcentagem de casos de dengue parecida.

In [ ]:
#pip install pandas
#pip install Jinja2

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('v2_postprocessed_dengue_data.csv')

/var/folders/f3/yv3zp1lj7p3bdbflct3wv9w80000gp/T/ipykernel_14202/3475437722.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('v2_postprocessed_dengue_data.csv')

In [ ]:
df.shape[0]

6406844

In [ ]:
df.head()

,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,...,AUTO_IMUNE,HOSPITALIZ,CLASSI_FIN,EVOLUCAO,AUTOCTO_UF,AUTOCTO_MN,IDADE_NOT,EVOL_DAYS,COUNT_SYMPTOMS,COUNT_PREEXIST
0,25,251620,1426.0,0,5.0,4.0,4.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,False,22.0,55.0,4,0
1,25,250840,1426.0,1,6.0,4.0,9.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,35.0,49.0,7,0
2,25,250840,1426.0,1,6.0,4.0,1.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,45.0,36.0,4,0
3,25,251080,1422.0,1,6.0,1.0,10.0,25.0,251080,1422.0,...,2.0,2.0,Discarded/Inconclusive,1.0,True,True,3.0,61.0,4,0
4,25,251080,1422.0,0,6.0,1.0,9.0,25.0,251080,1422.0,...,2.0,1.0,Discarded/Inconclusive,1.0,True,True,10.0,148.0,2,0

In [ ]:
# Exibir os valores únicos da coluna CLASSI_FIN
valores_unicos = df["CLASSI_FIN"].unique()
print(f"Valores únicos em CLASSI_FIN: {valores_unicos}")

Valores únicos em CLASSI_FIN: ['Dengue' 'Discarded/Inconclusive']

In [ ]:
# Filtrar linhas relacionadas a Dengue
df = df[df["CLASSI_FIN"].isin(['Dengue'])]

In [ ]:
df.shape[0]

4307236

In [ ]:
df.head()

,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,...,AUTO_IMUNE,HOSPITALIZ,CLASSI_FIN,EVOLUCAO,AUTOCTO_UF,AUTOCTO_MN,IDADE_NOT,EVOL_DAYS,COUNT_SYMPTOMS,COUNT_PREEXIST
0,25,251620,1426.0,0,5.0,4.0,4.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,False,22.0,55.0,4,0
1,25,250840,1426.0,1,6.0,4.0,9.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,35.0,49.0,7,0
2,25,250840,1426.0,1,6.0,4.0,1.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,45.0,36.0,4,0
6,26,260800,1499.0,1,6.0,1.0,9.0,25.0,250390,1419.0,...,2.0,2.0,Dengue,1.0,False,False,9.0,6.0,5,0
7,25,251450,1425.0,1,6.0,4.0,1.0,25.0,251450,1425.0,...,2.0,2.0,Dengue,1.0,True,True,41.0,27.0,6,0

In [ ]:
print(df.columns.tolist())

['SG_UF_NOT', 'ID_MUNICIP', 'ID_REGIONA', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_RG_RESI', 'FEBRE', 'MIALGIA', 'CEFALEIA', 'EXANTEMA', 'VOMITO', 'NAUSEA', 'DOR_COSTAS', 'CONJUNTVIT', 'ARTRITE', 'ARTRALGIA', 'PETEQUIA_N', 'LEUCOPENIA', 'LACO', 'DOR_RETRO', 'DIABETES', 'HEMATOLOG', 'HEPATOPAT', 'RENAL', 'HIPERTENSA', 'ACIDO_PEPT', 'AUTO_IMUNE', 'HOSPITALIZ', 'CLASSI_FIN', 'EVOLUCAO', 'AUTOCTO_UF', 'AUTOCTO_MN', 'IDADE_NOT', 'EVOL_DAYS', 'COUNT_SYMPTOMS', 'COUNT_PREEXIST']

In [ ]:
selected_columns = [
    'FEBRE', 'MIALGIA', 'CEFALEIA', 'EXANTEMA', 'VOMITO', 'NAUSEA',
    'DOR_COSTAS', 'CONJUNTVIT', 'ARTRITE', 'ARTRALGIA', 'PETEQUIA_N',
    'LEUCOPENIA', 'LACO', 'DOR_RETRO', 'DIABETES', 'HEMATOLOG',
    'HEPATOPAT', 'RENAL', 'HIPERTENSA', 'ACIDO_PEPT', 'AUTO_IMUNE',
    'HOSPITALIZ', 'EVOLUCAO'
]

# Criar o sub-dataset
sub_dataset = df[selected_columns]

In [ ]:
sub_dataset.shape[0]

4307236

In [ ]:
sub_dataset.head()

,FEBRE,MIALGIA,CEFALEIA,EXANTEMA,VOMITO,NAUSEA,DOR_COSTAS,CONJUNTVIT,ARTRITE,ARTRALGIA,...,DOR_RETRO,DIABETES,HEMATOLOG,HEPATOPAT,RENAL,HIPERTENSA,ACIDO_PEPT,AUTO_IMUNE,HOSPITALIZ,EVOLUCAO
0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,9.0,1.0
1,1.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,9.0,1.0
2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,9.0,1.0
6,1.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
7,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0

In [ ]:
df.head()

,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,...,AUTO_IMUNE,HOSPITALIZ,CLASSI_FIN,EVOLUCAO,AUTOCTO_UF,AUTOCTO_MN,IDADE_NOT,EVOL_DAYS,COUNT_SYMPTOMS,COUNT_PREEXIST
0,25,251620,1426.0,0,5.0,4.0,4.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,False,22.0,55.0,4,0
1,25,250840,1426.0,1,6.0,4.0,9.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,35.0,49.0,7,0
2,25,250840,1426.0,1,6.0,4.0,1.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,45.0,36.0,4,0
6,26,260800,1499.0,1,6.0,1.0,9.0,25.0,250390,1419.0,...,2.0,2.0,Dengue,1.0,False,False,9.0,6.0,5,0
7,25,251450,1425.0,1,6.0,4.0,1.0,25.0,251450,1425.0,...,2.0,2.0,Dengue,1.0,True,True,41.0,27.0,6,0

In [ ]:
import gc

def proportion_of_unknowed_rows(df, threshold=0.5):
    """
    Calculates the proportion of rows in a DataFrame where more than a certain
    percentage of columns have the value 9, and removes those rows from the DataFrame.

    Args:
    df: The input DataFrame (modified in place).
    threshold: The proportion of columns that must have the value 9.

    Returns:
    The proportion of rows meeting the criteria before removal.
    """
    gc.collect()
    num_cols = len(df.columns)
    count_9_threshold = int(num_cols * threshold)

    # Identify rows to drop
    rows_to_drop = df.index[(df == 9).sum(axis=1) >= count_9_threshold]

    # Calculate the proportion of rows meeting the criteria
    proportion = len(rows_to_drop) / len(df) if len(df) > 0 else 0

    # Drop rows in place
    df.drop(index=rows_to_drop, inplace=True)

    return proportion

In [ ]:
"""def proportion_of_unknowed_rows(df, threshold=0.5):

    Calculates the proportion of rows in a DataFrame where more than a certain
    percentage of columns have the value 9.

    Args:
    df: The input DataFrame.
    threshold: The proportion of columns that must have the value 9.

    Returns:
    The proportion of rows meeting the criteria.


    num_cols = len(df.columns)
    count_9_threshold = int(num_cols * threshold)

    rows_meeting_criteria = 0
    for index, row in df.iterrows():
      if (row == 9).sum() >= count_9_threshold:
        rows_meeting_criteria += 1

    return rows_meeting_criteria / len(df) if len(df) > 0 else 0
"""

try:
  proportion_original_dataset = proportion_of_unknowed_rows(df)
  print(f"Proportion of rows with more than 50% of columns equal to 9 in original dataset: {proportion_original_dataset}")
except NameError:
    print("The DataFrame 'df' is not defined. Please make sure the file is loaded correctly.")
except Exception as e:
  print(f"An error occurred: {e}")

Proportion of rows with more than 50% of columns equal to 9 in original dataset: 0.5105106848103982

In [ ]:
df.shape[0]

2108346

In [ ]:
try:
  proportion_subdataset = proportion_of_unknowed_rows(sub_dataset)
  print(f"Proportion of rows with more than 50% of columns equal to 9 in subdataset: {proportion_subdataset}")
except NameError:
    print("The DataFrame 'df' is not defined. Please make sure the file is loaded correctly.")
except Exception as e:
  print(f"An error occurred: {e}")

Proportion of rows with more than 50% of columns equal to 9 in subdataset: 0.5105106848103982

/var/folders/f3/yv3zp1lj7p3bdbflct3wv9w80000gp/T/ipykernel_14202/1324377283.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index=rows_to_drop, inplace=True)

In [ ]:
sub_dataset.shape[0]

2108346

In [ ]:
#Filtrado
def filter_original_with_modified(df_orig, df_modified):
    return df_orig.loc[df_modified.index]

In [ ]:
filter_original_with_modified(df, sub_dataset)

,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,...,AUTO_IMUNE,HOSPITALIZ,CLASSI_FIN,EVOLUCAO,AUTOCTO_UF,AUTOCTO_MN,IDADE_NOT,EVOL_DAYS,COUNT_SYMPTOMS,COUNT_PREEXIST
0,25,251620,1426.0,0,5.0,4.0,4.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,False,22.0,55.0,4,0
1,25,250840,1426.0,1,6.0,4.0,9.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,35.0,49.0,7,0
2,25,250840,1426.0,1,6.0,4.0,1.0,25.0,250840,1426.0,...,2.0,9.0,Dengue,1.0,True,True,45.0,36.0,4,0
6,26,260800,1499.0,1,6.0,1.0,9.0,25.0,250390,1419.0,...,2.0,2.0,Dengue,1.0,False,False,9.0,6.0,5,0
7,25,251450,1425.0,1,6.0,4.0,1.0,25.0,251450,1425.0,...,2.0,2.0,Dengue,1.0,True,True,41.0,27.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190512,14,140050,9.0,0,6.0,4.0,6.0,14.0,140050,9.0,...,2.0,2.0,Dengue,1.0,True,True,21.0,14.0,4,0
6190561,14,140050,9.0,1,6.0,1.0,6.0,14.0,140050,9.0,...,2.0,1.0,Dengue,1.0,True,True,19.0,2.0,4,0
6190602,14,140050,9.0,0,6.0,4.0,9.0,14.0,140050,9.0,...,2.0,2.0,Dengue,1.0,True,True,15.0,3.0,4,0
6190619,14,140050,9.0,0,6.0,4.0,7.0,14.0,140050,9.0,...,2.0,2.0,Dengue,1.0,True,True,26.0,8.0,4,0
6190708,14,140023,9.0,0,5.0,4.0,3.0,14.0,140023,9.0,...,2.0,1.0,Dengue,1.0,True,True,13.0,2.0,4,0

In [ ]:
df.shape[0]

2108346

In [ ]:
sub_dataset.shape[0]

2108346

In [ ]:
# Filtrar linhas onde HOSPITALIZ não é 9
subdataset_sem_9 = sub_dataset[sub_dataset['HOSPITALIZ'] != 9]

In [ ]:
# Filtrar linhas onde HOSPITALIZ não é 9
df_sem_9 = df[df['HOSPITALIZ'] != 9]

In [ ]:
df_sem_9.head()

,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,...,AUTO_IMUNE,HOSPITALIZ,CLASSI_FIN,EVOLUCAO,AUTOCTO_UF,AUTOCTO_MN,IDADE_NOT,EVOL_DAYS,COUNT_SYMPTOMS,COUNT_PREEXIST
6,26,260800,1499.0,1,6.0,1.0,9.0,25.0,250390,1419.0,...,2.0,2.0,Dengue,1.0,False,False,9.0,6.000000,5,0
7,25,251450,1425.0,1,6.0,4.0,1.0,25.0,251450,1425.0,...,2.0,2.0,Dengue,1.0,True,True,41.0,27.000000,6,0
14,24,240810,1416.0,0,9.0,5.0,9.0,25.0,250190,1420.0,...,2.0,2.0,Dengue,9.0,False,False,27.0,39.354536,5,1
15,24,240810,1416.0,1,6.0,9.0,9.0,25.0,250190,1420.0,...,2.0,2.0,Dengue,9.0,False,False,42.0,39.354536,3,0
16,25,251370,1377.0,0,5.0,4.0,9.0,25.0,251370,1377.0,...,2.0,2.0,Dengue,1.0,True,True,43.0,37.000000,3,0

In [ ]:
# Exibir os valores únicos da coluna CLASSI_FIN
valores_unicos_subdataset = subdataset_sem_9["HOSPITALIZ"].unique()
print(f"Valores únicos no subdataset em HOSPITALIZ: {valores_unicos_subdataset}")

Valores únicos no subdataset em HOSPITALIZ: [2. 1.]

In [ ]:
# Exibir os valores únicos da coluna CLASSI_FIN
valores_unicos_df = df_sem_9["HOSPITALIZ"].unique()
print(f"Valores únicos no df em HOSPITALIZ: {valores_unicos_df}")

Valores únicos no df em HOSPITALIZ: [2. 1.]

In [ ]:
# Resumo estatístico das colunas numéricas
print("Descrição do dataset resultante (original):")
resumo_estatistico_df = df_sem_9.describe()
resumo_formatado_df = resumo_estatistico_df.style.format("{:.2f}")
resumo_formatado_df

Descrição do dataset resultante (original):

In [ ]:
# Resumo estatístico das colunas numéricas
print("Descrição do dataset resultante (subdataset):")
resumo_estatistico_subdataset = subdataset_sem_9.describe()
resumo_formatado_subdataset = resumo_estatistico_subdataset.style.format("{:.2f}")
resumo_formatado_subdataset

Descrição do dataset resultante (subdataset):

In [ ]:
# Reiniciar os índices do dataset
df_sem_9.reset_index(drop=True, inplace=True)

In [ ]:
df_sem_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535643 entries, 0 to 1535642
Data columns (total 40 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   SG_UF_NOT       1535643 non-null  int64
 1   ID_MUNICIP      1535643 non-null  object
 2   ID_REGIONA      1535643 non-null  float64
 3   CS_SEXO         1535643 non-null  int64
 4   CS_GESTANT      1535643 non-null  float64
 5   CS_RACA         1535643 non-null  float64
 6   CS_ESCOL_N      1535643 non-null  float64
 7   SG_UF           1535640 non-null  float64
 8   ID_MN_RESI      1535643 non-null  int64
 9   ID_RG_RESI      1535643 non-null  float64
 10  FEBRE           1535643 non-null  float64
 11  MIALGIA         1535643 non-null  float64
 12  CEFALEIA        1535643 non-null  float64
 13  EXANTEMA        1535643 non-null  float64
 14  VOMITO          1535643 non-null  float64
 15  NAUSEA          1535643 non-null  float64
 16  DOR_COSTAS      1535643 non-null  float64
 17  CONJUNTVIT      1535643 non-null  float64
 18  ARTRITE         1535643 non-null  float64
 19  ARTRALGIA       1535643 non-null  float64
 20  PETEQUIA_N      1535643 non-null  float64
 21  LEUCOPENIA      1535643 non-null  float64
 22  LACO            1535643 non-null  float64
 23  DOR_RETRO       1535643 non-null  float64
 24  DIABETES        1535643 non-null  float64
 25  HEMATOLOG       1535643 non-null  float64
 26  HEPATOPAT       1535643 non-null  float64
 27  RENAL           1535643 non-null  float64
 28  HIPERTENSA      1535643 non-null  float64
 29  ACIDO_PEPT      1535643 non-null  float64
 30  AUTO_IMUNE      1535643 non-null  float64
 31  HOSPITALIZ      1535643 non-null  float64
 32  CLASSI_FIN      1535643 non-null  object
 33  EVOLUCAO        1535643 non-null  float64
 34  AUTOCTO_UF      1535643 non-null  bool
 35  AUTOCTO_MN      1535643 non-null  bool
 36  IDADE_NOT       1535643 non-null  float64
 37  EVOL_DAYS       1535643 non-null  float64
 38  COUNT_SYMPTOMS  1535643 non-null  int64
 39  COUNT_PREEXIST  1535643 non-null  int64
dtypes: bool(2), float64(31), int64(5), object(2)
memory usage: 448.1+ MB

In [ ]:
# Reiniciar os índices do dataset
subdataset_sem_9.reset_index(drop=True, inplace=True)

In [ ]:
subdataset_sem_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535643 entries, 0 to 1535642
Data columns (total 23 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   FEBRE       1535643 non-null  float64
 1   MIALGIA     1535643 non-null  float64
 2   CEFALEIA    1535643 non-null  float64
 3   EXANTEMA    1535643 non-null  float64
 4   VOMITO      1535643 non-null  float64
 5   NAUSEA      1535643 non-null  float64
 6   DOR_COSTAS  1535643 non-null  float64
 7   CONJUNTVIT  1535643 non-null  float64
 8   ARTRITE     1535643 non-null  float64
 9   ARTRALGIA   1535643 non-null  float64
 10  PETEQUIA_N  1535643 non-null  float64
 11  LEUCOPENIA  1535643 non-null  float64
 12  LACO        1535643 non-null  float64
 13  DOR_RETRO   1535643 non-null  float64
 14  DIABETES    1535643 non-null  float64
 15  HEMATOLOG   1535643 non-null  float64
 16  HEPATOPAT   1535643 non-null  float64
 17  RENAL       1535643 non-null  float64
 18  HIPERTENSA  1535643 non-null  float64
 19  ACIDO_PEPT  1535643 non-null  float64
 20  AUTO_IMUNE  1535643 non-null  float64
 21  HOSPITALIZ  1535643 non-null  float64
 22  EVOLUCAO    1535643 non-null  float64
dtypes: float64(23)
memory usage: 269.5 MB

In [ ]:
# Salvar o dataset filtrado em um arquivo CSV
caminho_subdataset = "subdataset_of_v2_postprocessed_dengue_data.csv"
subdataset_sem_9.to_csv(caminho_subdataset, index=False)
print(f"Dataset salvo como: {caminho_subdataset}")

# Salvar o dataset filtrado em um arquivo CSV
caminho_df = "df_of_v2_postprocessed_dengue_data.csv"
df_sem_9.to_csv(caminho_df, index=False)
print(f"Dataset salvo como: {caminho_df}")

Dataset salvo como: subdataset_of_v2_postprocessed_dengue_data.csv
Dataset salvo como: df_of_v2_postprocessed_dengue_data.csv